<html>
<head>
    <title>Board <%= locals.board.name %> / <%= board.id %></title>
    <link rel="stylesheet" href="https://unpkg.com/mirotone/dist/styles.css" />
</head>
<body>
    <h1><%= locals.board.name %> / <%= locals.boardId %></h1>
    <a href="/">Back to all boards</a>
    <h2>Items on this board:</h2>
    <ul>
        <% locals.boardItems.forEach(item => { %>
            <li>ID: <em><a href="/boards/<%= board.id %>/item/<%= item.id %>"><%= item.id %></a></em> (<%=item.type%>)</li>
        <% }) %>
    </ul>

    <form action="/image/<%= board.id %>" method="post">
        <ul>
            <button name="submit" type="submit">Create an image</button>
        </ul>
    </form>
</body>
</html>
